{% extends 'layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
  	<h1>API Key: {{ endpoint.apiKey }}</h1>

	<ul>
		<li>
			Box with amount of API calls that are still available
		</li>
		<li>
			Box with subscription status --> link to upgrades of payment plan
		</li>
		<li>
			Box with real time stats --> links to more analytics
		</li>
		<li>
			Box with documentation
		</li>
		<li>
			Settings (again:) reset API key, reset domain, cancle subscription, delete account, change email
		</li>
		<li>
			Box with automated tools: connect with CMS, upload CSV index,...
		</li>
	</ul>
</div>
{% endblock %}
