{% extends 'layout.html' %}

{% block title %}Completionary{% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1>Completionary</h1>
        <p>Type less! Find faster! Have a better experience.</p>
        <form role="form">
          <div class="controls">
            <input class="form-control input-lg" type="text" placeholder="Type anything">
            <button class="btn btn-primary" >Go</button>
          </div>
        </form>
        <p>Check out our wiked fast wikipedia demo with thumbnails.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <h2>Meet our technology</h2>
        <div class="col-md-4">
            <h3>Pricing</h3>
            <p>
                <a href ="/signup">Register for a free trial account</a>: You get a small index with up to 1000 items and 1000 free api calls per month.
            </p>
            <p>
                <a href="">upgrade to our silver level</a>. For 20 dollar per month you already receive 1 million API calls and an index size of 10'000 items. 
            </p>
            <p>
                <a href="">check out which payment plan suits your needs!</a>
            </p>
        </div>
        <div class="col-md-4">
            <h3>Fastest Search experience for your Customer.</h3>
            <p>
                Our servers are located in any continent bringing low network times to your customers. 
            </p>
            <p>
                Our API is designed to minimize HTTP traffic.
            </p>
            <p>
                Even when slashdoted our servers will hold all the customers your site gets.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Effortless</h3>
            <p>
                just upload your list of ranked search terms.
            </p>
            <p>
                If you run standard content management systems for your site you can just out connect your site to our API
            </p>
            <p>
                include one line of javascript to your HTML templates.
            </p>
        </div>
    </div>
        <div class="row">
            <h2>Meet our team</h2>
        <div class="col-md-4">
        <h3>Rene Pickhardt</h3>
            <p>
                <a href="http://www.rene-pickhardt.de"><img src="https://avatars0.githubusercontent.com/u/1926816?s=140"/><br/>
                Rene Pickhardt</a> (Uni Koblenz) <em>founder</em>.
            </p>
            <p>
                Rene is a data structure and algorithms geek. He also manages the team processes, development and communication.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Jonas Kunze</h3>
            <p>
                <a href="https://github.com/JonasKunze"><img src="https://avatars3.githubusercontent.com/u/5029470?s=140"/><br/>
                Jonas Kunze</a> (CERN) <em>founder</em>.                
            </p>
            <p>
                Jonas is our networking expert and high performance computing freak from CERN. He is devoted to bringing the last percents of performance to your customer.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Christoph Ehlen</h3>
            <p>
               <a href="https://github.com/cEhlen"><img src="https://avatars3.githubusercontent.com/u/222885?s=140"/><br/>
               Christoph Ehlen</a> (Uni Koblenz) <em>founder</em>
            </p>
            <p>
                Christoph is our javascript and node.js hacker. He is responsible for the slick user experience of our dashboard.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Heinrich Hartmann</h3>
            <p>
               <a href="http://www.heinrich-hartmann.net"/><img src="https://avatars3.githubusercontent.com/u/2446981?s=140"/><br/>
               Heinrich Hartmann</a> (Uni Koblenz) <em>founder</em>
            </p>
            <p>
                Heinrich is great in stream processing and time series analysis. He provides you with great real time data.
            </p>
        </div>
    </div>
<div class="row">
        <h2>Get Started</h2>
        <div class="col-md-4">
            <h3>API Documentation</h3>
            <p>
                find the documentation of our API
            </p>
            <p>
                more
            </p>
            <p>
                text to come
            </p>
        </div>
        <div class="col-md-4">
            <h3>Contact us</h3>
            <p>
                Completionary GbR
            </p>
            <p>
                Some address
            </p>
            <p>
                some phone number and email
            </p>
        </div>
        <div class="col-md-4">
            <h3>Testimonials</h3>
            <p>
                Metalcon.de
            </p>
            <p>
                related-work.net
            </p>
            <p>
                where are you?
            </p>
        </div>
    </div>    
</div>
{% endblock %}
